[Unit]
Description=Wait for Controller connection
After=bluetooth-connected.service
Requires=bluetooth-connected.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check_controller_connected.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
